<?xml version="1.0"?>
<launch>

	<!-- start trajectory republisher -->
	<!--<node name="arm_trajectory_republisher" pkg="youbot_description" type="arm_trajectory_republisher" output="screen"/>-->

	<!-- start base command republisher -->
	<!--<node name="base_command_republisher" pkg="youbot_description" type="base_command_republisher" output="screen"/>-->

	<!-- start gazebo empty world-->
	<param name="/use_sim_time" value="true" />
	<node name="gazebo" pkg="gazebo" type="gazebo" args="$(find project)/world/project_world2" respawn="false" output="screen">
		<env name="GAZEBO_RESOURCE_PATH" value="$(find youbot_description):$(find gazebo_worlds):$(find gazebo)/gazebo/share/gazebo" />  
		<remap from="base_controller/command" to="cmd_vel"/>
		<remap from="scan_front" to="base_scan"/>
        <remap from="/base_odometry/odom" to="/odom" />
		
	</node>
	
	<!-- start gui -->
	<node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/>
	
	 <!--  
	<param name="garbage" textfile="$(find project)/garbage.urdf" />
	  <node name="garbage1" pkg="gazebo" type="spawn_model" args="-urdf -param garbage -x 1.0 -y 1.0 -z 0  -R 0 -P 0 -Y 0 -model garbage" respawn="false" output="screen" />
	-->
	 
	
	<!-- 
	<param name="simple_box" textfile="$(find project)/box.urdf" />
	  <node name="box1" pkg="gazebo" type="spawn_model" args="-urdf -param simple_box -x 4.4 -y -0.7 -z 0  -R 0 -P 0 -Y 0 -model simple_box" respawn="false" output="screen" />
	<node name="box2" pkg="gazebo" type="spawn_model" args="-urdf -param simple_box -x 5.55 -y 9.65 -z 0  -R 0 -P 0 -Y 0 -model simple_box2" respawn="false" output="screen" />
	<node name="box3" pkg="gazebo" type="spawn_model" args="-urdf -param simple_box -x 5.55 -y 8.64 -z 0  -R 0 -P 0 -Y 0 -model simple_box3" respawn="false" output="screen" />
	<node name="box4" pkg="gazebo" type="spawn_model" args="-urdf -param simple_box -x -5.45 -y 6.00 -z 0  -R 0 -P 0 -Y 0 -model simple_box4" respawn="false" output="screen" />
	-->


	
	<!-- send youbot urdf to param server -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find youbot_description)/robots/youbot.urdf.xacro'"/>

	<!-- push robot_description to factory and spawn robot in gazebo
	<node name="youbot_gazebo_model" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model youBot -x 0.0 -y 0.0 -z 0.1" respawn="false" output="screen" />
	 -->
	<include file="$(find youbot_description)/launch/control/youbot_base_control.launch" />
	<include file="$(find youbot_description)/launch/control/youbot_arm_control.launch" />
	<include file="$(find youbot_description)/launch/control/youbot_gripper_control.launch" />

</launch>
